= link_to("« back to uploads", uploads_path)

%h1= "Upload: #{@upload.id}"

%h2= "Images"
- if @upload.images.present?
  = link_to("Refresh all images", fetch_images_upload_path(@upload.id), class: 'btn btn-success', remote: true)

  = render partial: 'images_table', locals: { images: @upload.images }
- else
  .alert.alert-secondary{ role: :alert }
    No uploaded images
