%table.table.table-striped.table-hover
  %thead
    %tr
      %th= "ID"
      %th= "Key"
      %th= "Value"

  %tbody
    - exif_values.each do |exif|
      %tr
        %td= exif.id
        %td= exif.key
        %td= exif.value
